/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

body {
  background-color: crimson;
  /* background-color: red; */
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  color: azure;
}

.menu {
  width: 700px;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.7);
  margin-top: -5px;
  box-shadow: 0px 0px 20px black;
  margin-top: 105px;
}
.menu-pies {
  display: flex;
  justify-content: center;
}
.pies {
  width: 300px;
  height: auto;
  padding: 10px;
  margin: 5px;
}
.pies h3 {
  font-family: "Quicksand", sans-serif;
  color: hsla(0, 100%, 48%, 0.82);
}
/* h3 {
  color: hsla(352, 97%, 49%, 0.83);
} */
p {
  font-family: "Oswald", sans-serif;
  color: aliceblue;
}
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  font-size: 30px;
  align-items: center;
  box-shadow: 0 5px 10px 2px black;
  text-shadow: 4px 4px black;
  font-family: "Lobster", cursive;
}

.delivery {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  color: azure;
}

/* Some Utility Classes */
.spacing {
  margin: 5px;
  padding: 10px;
}
.text-center {
  text-align: center;
}
.text-sh {
  text-shadow: 2px 2px 5px black;
}
.font-one {
  font-family: "Quicksand", sans-serif;
}
.font-two {
  font-family: "Oswald", sans-serif;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-font-color{
  color: hsla(0, 100%, 48%, 0.82);
  /* color: red; */

}
.logo {
  width: 130px;
  height: 100px;
}
.square {
  height: 150px;
  width: 150px;
  border: 1px solid wheat;

}
.craft-pizza {
  display: flex;
  flex-wrap: wrap;
}
.craft-slices img{
  height: 80%;
  width: 100%;
}

.craft-slices {
  width: 30%;
  height: 300px;
  margin: 10px; 
  justify-content: center;
  color: azure;
}

.park {
  width: 700px;
  height: 500px;
  /* background-color: black; */
  margin-top: 120px;
  color: azure;
}

.map-container {
  width: 100%;
  height: 300px;
}
/* Smaller Screen Adaptaions */
@media only screen and (max-width: 600px) {
  body {
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
  }
  .header {
    display: flex;
    justify-content: center;
    height: 75px;
    font-size: 15px;
    align-items: center;
    width: 100%;
    text-shadow: 2px 2px black;
  }
  .menu {
    width: 90%;
    background-color: hsla(0, 0%, 0%, 0.7);
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
  .menu-pies {
    display: flex;
    flex-direction: column;
  }
  .pies {
    width: 95%;
  }
  .delivery {
    font-size: 16px;
  }
  .menu-create {
    width: 95%;
  }
  footer {
    font-size: 12px;
    text-align: center;
  }
  .logo {
    width: 100px;
    height: 75px;
  }
  
  .craft-slices img{
    width: 95%;
    height: 70%;
  }
  .craft-slices {
    width: 50%;
    margin: 0;
   margin-bottom: 10px;
  }
}
