/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

body {
  background-color: crimson;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  color: azure;
}

.menu {
  width: 700px;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.7);
  margin-top: -5px;
  box-shadow: 0px 0px 20px black;
}

.menu-pies {
  display: flex;
  justify-content: center;
}
.pies {
  width: 300px;
  height: auto;
  padding: 10px;
  margin: 5px;
}
.pies h3 {
  font-family: "Quicksand", sans-serif;
  color: hsla(0, 100%, 48%, 0.82);
}
h3 {
  color: hsla(352, 97%, 49%, 0.83);
}
p {
  font-family: "Oswald", sans-serif;
  color: aliceblue;
}
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  font-size: 35px;
  align-items: center;
  box-shadow: 0 5px 10px 2px black;
  text-shadow: 4px 4px black;
}
.delivery {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  color: azure;
}

/* Utility Classes */
.spacing {
  margin: 5px;
  padding: 10px;
}
.text-center {
  text-align: center;
}
.text-sh {
  text-shadow: 2px 2px 5px gray;
}
.font-one {
  font-family: "Quicksand", sans-serif;
}
.font-two {
  font-family: "Oswald", sans-serif;
}

.logo {
  margin-top: 100px;
  width: 700px;
}
/* Smaller Screen Adaptaions */
@media only screen and (max-width: 600px) {
  body {
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
  }
  .header {
    display: flex;
    justify-content: center;
    height: 75px;
    font-size: 15px;
    align-items: center;
    width: 100%;
    text-shadow: 2px 2px black;
  }
  .menu {
    width: 90%;
    background-color: hsla(0, 0%, 0%, 0.7);
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-pies {
    display: flex;
    flex-direction: column;
  }
  .pies {
    width: 95%;
  }
  .delivery {
    font-size: 16px;
  }
  .menu-create {
    width: 95%;
  }
  footer {
    font-size: 12px;
    text-align: center;
  }
  .logo {
    margin-top: 75px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
